<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/TestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="ng-phalcon - tests">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./Framework</directory>
            <exclude>
                <file>./Framework/Container/Parser/Output.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>